/* EduGame.css */

.eduGame {
  background-color: lightsteelblue;
  text-align: center;
  padding: 5vh;
}

.employee-kiosk {
  background-color: #3498db; /* You can change this color to your preference */
  border: 2px solid #ccc;
  padding: 8px;
  margin: 4px;
  color: #fff; /* Text color */
  cursor: grab;
  transition: transform 0.2s;
}

.employee-kiosk:active {
  background-color: #2980b9; /* Color when clicked */
  transform: scale(1.1);
}

.subcell {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 4px;
  background-color: #fff;
  transition: transform 0.2s;
}

.subcell:hover {
  transform: scale(1.05);
}

.employee-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  justify-content: center; /* Center-align items horizontally */
  align-items: center; /* Center-align items vertically */
}

.alert {
  display: inline-block;
  max-width: 300px;
}

.row-gaugeCharts {
  display: flex;
  justify-content: center; /* Horizontally center the content in the row */
  align-items: center; /* Vertically center the content in the row */
}

.gauge-charts {
  display: flex;
  flex-direction: row; /* Ensure charts are in a row */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.row-availability {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
