/* CSS für die Animationen */

.employee-kiosk {
  background-color: gray;
  border: 2px solid #ccc;
  padding: 8px;
  margin: 4px;
  background-color: #fff;
  cursor: grab;
  transition: transform 0.2s;
}

.employee-kiosk:active {
  background-color: gray;
  transform: scale(1.1);
}


.subcell {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 4px;
  background-color: #fff;
  transition: transform 0.2s;
}

.subcell:hover {
  transform: scale(1.05);
}

.employee-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

td {
  min-width: 100px;
}

td:hover {
  background-color: #e0e0e0;
}

.alert {
  display: inline-block;
  max-width: 300px; /* oder ein anderer gewünschter Wert */
}
