/* Entire App Container */
.App {
  text-align: center;
  font-family: Arial, sans-serif; /* Using a legible font */

  /* Center-align text and set the font family */
}

/* Logo Style */
.App-logo {
  height: 150px;
  pointer-events: none;

  /* Define styles for the logo, making it unclickable */
}

/* Background color for the App Header */
.App-header {
  background-color: #007bff; /* Set a blue background color */
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* White text color */
  padding: 10px; /* Add some spacing around the header content */

  /* Styling for the header, including background color, layout, and text color */
}

/* Style for Links */
.App-link {
  color: #61dafb;
  text-decoration: none; /* Remove underlines from links */

  /* Define styles for links, including color and text decoration */
}

.main-content {
  padding: 0; /* oder welcher Wert auch immer gewünscht ist */
}
