/* Navbar.css */
/* Explanation: To increase specificity, we use .navbar before .dropdown-item */

/* Navbar Style */
.navbar {
  background-color: #e3f2fd;
  /* overflow: visible; */
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  overflow-y: auto;
  border-right: 0px solid #ccc;
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  z-index: 1000; /* To ensure it stays on top of other content */
}

/* Dropdown Item Style */
.navbar .dropdown-item {
  background-color: #353535; /* Dropdown item background color (light gray) */
  color: #ffffff; /* Dropdown item text color */
  text-align: center;
  line-height: 2;
}

/* Dropdown Menu Style */
.navbar .dropdown-menu {
  background-color: #333; /* Dropdown menu background color */
  color: white; /* Text color in the dropdown menu */
  border: none; /* No border around the dropdown menu */
}

/* Hover Effect for Dropdown Items */
.navbar .dropdown-item:hover {
  background-color: #555; /* Background color on hover */
  color: white; /* Text color on hover */
}

/* Active Dropdown Item */
.navbar .dropdown-item.active {
  background-color: #777; /* Background color of the active item */
}

/* Background Color when Dropdown is Triggered */
.navbar .dropdown-toggle:focus {
  background-color: transparent; /* Transparent background */
  border-color: transparent; /* Transparent border */
}

/* Brand Text Style */
.navbar .navbar-brand {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  margin-left: 0px;
  align-content: center;
  vertical-align: middle;
  margin-top: 30px;
  z-index: 1000;
}

.navbar .navbar-brand:hover {
  color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Change to your desired hover color, this is white for example */
  cursor: pointer; /* Changes the mouse cursor to a hand, indicating a clickable element */
}

/* Style for the List of Links */
.navbar-nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  flex-grow: 1; /* Fills the available vertical space */
  overflow-y: auto; /* Add scrollbar when overflow occurs */
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Style for List Items in the Navbar */
.nav-item {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 1.2em;
}

/* Style for Link Text */
.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
}

/* Active List Item in the Navbar */
.nav-item.active {
  background-color: #555;
}

/* Hover Effect for List Items */
/* .nav-item:hover {
  background-color: #777;
} */

.navbar-container {
  position: fixed;
  margin-left: 30px;
  z-index: 1000;
}

.uni-logo-wrapper {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Um sowohl horizontal als auch vertikal zu zentrieren */
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.uni-logo {
  width: auto;
  height: 65px;

  transition: transform 0.3s ease; /* Transition effect for smooth scaling */
}

.uni-logo:hover {
  transform: scale(1.1); /* Scales the image up slightly on hover */
}

/* Follow socials styles*/
.follow-container {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Um sowohl horizontal als auch vertikal zu zentrieren */
  align-items: center;
  color: white;
  font-size: 16px;
}

.follow-container p {
  width: auto;
  margin-right: 10px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
}

.social-icon {
  width: 50px; /* adjust based on your preference */
  height: auto;
  margin: 0 5px;
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.social-icon:hover {
  transform: scale(1.1);
}
