/* Navbar.css */
/* Explanation: To increase specificity, we use .navbar before .dropdown-item */

/* Navbar Style */
.navbar {
  background-color: #e3f2fd;
  color: white;
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  overflow-y: auto;
  border-right: 0px solid #ccc;
  padding-right: 0px;
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center;     /* Vertikale Zentrierung */
}



/* Dropdown Item Style */
.navbar .dropdown-item {
  background-color: #353535; /* Dropdown item background color (light gray) */
  color: #ffffff; /* Dropdown item text color */
  text-align: center;
  line-height: 2;
}

/* Dropdown Menu Style */
.navbar .dropdown-menu {
  background-color: #333; /* Dropdown menu background color */
  color: white; /* Text color in the dropdown menu */
  border: none; /* No border around the dropdown menu */
}

/* Hover Effect for Dropdown Items */
.navbar .dropdown-item:hover {
  background-color: #555; /* Background color on hover */
  color: white; /* Text color on hover */
}

/* Active Dropdown Item */
.navbar .dropdown-item.active {
  background-color: #777; /* Background color of the active item */
}

/* Background Color when Dropdown is Triggered */
.navbar .dropdown-toggle:focus {
  background-color: transparent; /* Transparent background */
  border-color: transparent; /* Transparent border */
}

/* Brand Text Style */
.navbar .navbar-brand {
  font-size: 2rem;
  text-align: center;
  margin-left: 0px;
  align-content: center;
  vertical-align: middle;
  margin-top: 30px;
}

/* Style for the List of Links */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  flex-grow: 1; /* Fills the available vertical space */
  overflow-y: auto; /* Add scrollbar when overflow occurs */
  display: flex;
  align-items: center;
}


/* Style for List Items in the Navbar */
.nav-item {
  margin-bottom: 1rem;
}

/* Style for Link Text */
.nav-link {
  color: white;
  text-decoration: none;
}

/* Active List Item in the Navbar */
.nav-item.active {
  background-color: #555;
}

/* Hover Effect for List Items */
.nav-item:hover {
  background-color: #777;
}