/* Define styles for the custom table */
.custom-table {
  background-color: lightsteelblue;
  border-collapse: collapse;
  width: 100%;
  color: black;
  text-align: center;
}

.custom-table th, .custom-table td {
  border: 1px solid black; /* Add borders to table cells */
  padding: 8px; /* Add padding for better spacing */
}


.custom-table th{
  background-color: darkblue; /* Dark background color */
  border-collapse: collapse;
  width: 100%;
  color: white; /* Text color */
  text-align: center;
  border: 1px solid black;
}


/* Highlighted cells for "YOU" */
.custom-table .highlighted-cell {
  background-color: lightgreen;
}


/* Animation for table row highlighting */
.custom-table .highlighted-cell {
  animation: highlight 1s infinite alternate; /* Animation for highlighting */
}

.shift-type-td{
  font-weight:bold ;
}

.subcell.jobType{
  background-color: darkblue;
  color: white;
}

.subcell.regular{
  background-color: white;
  color: black;
}

/* Toggle button styles */
.modern-toggle-button {
  position: relative;
  width: 60px;
  height: 34px;
}

.modern-toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-button-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .toggle-button-slider {
  background-color: #2196f3;
}

input:checked + .toggle-button-slider:before {
  transform: translateX(26px);
}

/* Yellow and white button styles */
.btn-custom-yellow {
  background-color: yellow;
  color: black;
}

.btn-custom-yellow:hover {
  background-color: rgb(207, 207, 207);
  color: black;
}

.btn-custom-white {
  background-color: rgb(207, 207, 207);
  color: black;
}

.btn-custom-white:hover {
  background-color: yellow;
  color: black;
}

/* Button width and margin styles */
.btn-sm.custom-width {
  width: 30px;
  text-align: center;
}

.btn-group {
  margin-bottom: 20px;
}
