/* Stil für die gesamte WeekView-Komponente */
.WeekView {
  padding: 20px;
  background-color: #000000; /* Hellblauer Hintergrund */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Stil für die Überschrift */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #000; /* Schwarze Schriftfarbe */
}

/* Stil für die Tabelle */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

/* Stil für Tabellenkopf und Zellen */
th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  background-color: #b3d9ff; /* Heller blauer Hintergrund */
  color: #000; /* Schwarze Schriftfarbe */
}

/* Neue CSS-Klasse für die Unterzellen */
.cell {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  margin-top: 5px;
  background-color: #ccf2ff; /* Noch hellerer blauer Hintergrund */
}

/* Neue CSS-Klasse für die Unterzellen */
.subcell {
  margin: 4px 0;
  font-size: 14px;
  font-weight: bold;
  color: #000000; /* Weiße Schriftfarbe */
}

/* Stil für die erste Zeile (Überschriften) der Statistik-Tabelle */
.table-statistics thead tr:first-of-type th {
  background-color: #3399ff; /* Farbe für die erste Zeile */
  color: #fff; /* Schriftfarbe für die erste Zeile */
}

